@mixin fadeLeft() {
    @keyframes fadeLeft {
        from {
            right: -100%;
        }

        to {
            right: 0;
        }
    }
}

.header {
    --height: 41px;
    --padding-top: 56px;
    padding-top: var(--padding-top);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--height) + var(--padding-top));
    position: relative;

    &--list {
        display: none;
        color: $heading-color;
        font-size: 2.5rem;
        height: var(--height);
        line-height: var(--height);
        cursor: pointer;
        padding-left: 15px;
    }

    &__nav {
        gap: 0 40px;
        display: flex;
        align-items: center;

        &--link {
            color: $light-black;
            font-size: 1.8rem;
            opacity: 0.5;
        }

        &--item:first-child &--link {
            font-weight: 700;
            opacity: 1;
        }
    }

    &__nav.active {
        --width: 75%;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $white-color;
        border-left: 1px solid #ddd;
        width: var(--width);
        padding-top: calc(var(--height) + var(--padding-top) + 20px);
        animation: fadeLeft 0.4s ease-in;
        @include fadeLeft();

        .header__nav--link {
            padding: 20px;
            display: block;

            &:hover {
                color: $white-color;
                background-color: $primary-color;
            }
        }
    }
}

@media (max-width: 1023px) {
    .header {
        --padding-top: 36px;
        padding-top: var(--padding-top);

        &__nav {
            gap: 0 25px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        &--list {
            display: block;
        }

        &__nav {
            display: none;
        }
    }
}