.hero {
    margin-top: 80px;
    display: flex;
    align-items: center;

    &__content {
        max-width: 445px;

        &--title {
            max-width: 427px;
            font-size: 4.8rem;
            font-weight: 700;
            line-height: calc(56 / 48);
            margin: 115px 0 25px 0;
            color: $heading-color;
        }

        &--description {
            font-size: 2.1rem;
            margin-bottom: 45px;
            line-height: calc(32 / 21);
            color: $text-color;
        }
    }

    &--img {
        transform: translateX(109px);
    }
}

@media (max-width: 576px) {
    .hero {
        &__content {
            &--title {
                font-size: 3.8rem;
            }

            &--description {
                font-size: 1.8rem;
            }
        }
    }
}