$font: 'Mulish', sans-serif;
$text-color: #7D7987;
$primary-color: #458FF6;
$heading-color: #000; 
$light-black: #1F1534;
$white-color: #fff;
$linearGradient-color: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
$linearGradient--footer-color: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);